<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP - Shipease Kids</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />

</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'image/shipease-logo.webp' %}" alt="Shopease Logo" />
        </div>
        <div class="title">Fast. Secure. Easy - Welcome to Shipease!</div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="fullname" placeholder="Rohit Varma" required />
            </div>
            <div class="input-group">   
                <input type="email" name="email" placeholder="shipease@gmail.com" required />
            </div>
            <div class="input-group">
                <input type="text" name="mobile" placeholder="+91  XXXXX XXXXX" required />
            </div>
            <div class="input-group password-toggle">
                <input type="password" name="password" placeholder="********" required />
                <span class="password-toggle-icon">👁️</span>
            </div>
            <div class="input-group password-toggle">
                <input type="password" name="retype_password" placeholder="********" required />
                <span class="password-toggle-icon">👁️</span>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="terms" required />
                <label>By signing up, you agree to <a href="#">Terms & Condition</a></label>
            </div>
            <button type="submit" class="register-btn">Register</button>
        </form>
        <div class="footer">
            Already have an account? <a href="login">Login</a>
        </div>
    </div>
</body>

</html>